{
    "parser": "babel-eslint",
    "plugins": ["prettier"],
    "rules": {
      "no-useless-escape": "off",
      "no-unused-vars": ["error"],
      "comma-dangle": ["error", "never"],
      "linebreak-style": [2, "unix"],
      "no-console": "off",
      "semi": [2, "always"],
      "no-func-assign": 0,
      "no-constant-condition": 0,
      "no-unsafe-finally": 0,
      "no-multiple-empty-lines": [
        2,
        {
          "max": 2,
          "maxEOF": 1
        }
      ],
      "curly": [2, "multi", "consistent"],
      "eol-last": [2, "unix"],
      "eqeqeq": ["error", "allow-null"],
      "camelcase": [
        "error",
        {
          "properties": "never"
        }
      ],
      "brace-style": [
        "error",
        "1tbs",
        {
          "allowSingleLine": true
        }
      ],
      "no-var": "error",
      "prefer-const": [
        "error",
        {
          "destructuring": "all",
          "ignoreReadBeforeAssign": false
        }
      ],
      "prettier/prettier": [
        "error",
        {
          "singleQuote": true
        }
      ]
    },
    "env": {
      "es6": true,
      "node": true,
      "jest": true
    },
    "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {}
    },
    "extends": ["eslint:recommended", "prettier"]
  }